@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
	/*Typography*/
	--poppins: "Poppins", sans-serif;
	--open-sans: "Open Sans", sans-serif;

	--fw-regular: 400;
	--fw-semibold: 600;

	/*Colors*/
	--violet: hsl(257, 40%, 49%);
	--soft-magenta: hsl(300, 69%, 71%);
	--white: hsl(0, 0%, 100%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--violet) url("assets/images/bg-desktop.svg") top no-repeat;
	background-size: contain;
	color: var(--white);
}

.container {
	max-width: 1440px;
	padding: 20px 40px
}

.logo-image {
	width: 150px;
}

.content-wrapper {
	display: flex;
	margin-top: 20px;
	width: 100%;
}

.hero {
	width: 100%;
}

.mockup-image {
	max-width: 95%;
}

.content { 
	padding-top: 40px;
	padding-right: 50px;
	margin-left: 50px;
	max-width: 40%;
	display: flex;
	flex-direction: column;
}

.content h1 { 
	max-width: 380px;
	font-family: var(--poppins);
}

.content p { 
	font-family: var(--open-sans);
	margin-block: 20px;
	line-height: 24px;
}

.btn {
	width: 200px;
	height: 50px;
	color: var(--violet);
	font-family: var(--poppins); 
	font-weight: var(--fw-regular);
	background: var(--white);	
	border: none;
	border-radius: 30px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
	font-size: 1.1rem;
	cursor: pointer;
}

.btn:hover {
	color: var(--white);
	background: var(--soft-magenta);
}

.social-medias-container { 
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding-right: 40px;
	margin-top: 20px;
}

.circle {
	width: 35px;
	height: 35px;
	border: 1px solid var(--white);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-right: 12px;
}

.circle:hover {
	color: var(--soft-magenta);
	border-color: var(--soft-magenta);
}

 .attribution { 
 	font-size: 11px; 
 	text-align: center; 
 }

 .attribution a { 
 	color: var(--soft-magenta);
 	font-weight: var(--fw-bold);
 }

footer {
	padding-bottom: 20px;
}



@media screen and (max-width:600px) {

body {
	background-image: url("assets/images/bg-mobile.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.content-wrapper {
	display: block;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
	margin: 0px;
	padding: 80px 5px 5px 5px;
}

.content h1 {
	text-align: center;
}

.content p { 
	max-width: 400px;
	font-size: 1.1rem;
	text-align: center;
}

.social-medias-container {
	display: flex;
	justify-content: center;
	margin-top: 80px;
	padding-right: 0px;
}

.content h1 { 
	width: 375px;
	padding-inline: 10px;
	font-size: 1.75rem;
}

.content p {
	width: 375px;
	padding-inline: 10px;
	line-height: 1.75rem;
	text-align: center;
}

footer {
	text-align: center;
}

	
}